// contact page styles 

.contact-section {
    flex: 1; 
    padding: 1rem 0;
    background-color:#F9E4DA;
    padding: 60px 20px;
}

.contact-box {
    background-color: #fd6c9e;
    border-radius: 20px;
    padding: 1.5rem;
    text-align: center;
    color: #000;
    transition: transform 0.3s ease;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.contact-box:hover {
    transform: translateY(-5px);
}

.contact-box i {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.contact-box h6 {
    font-weight: bold;
    margin-top: 10px;
}

.contact-box p {
    font-size: 0.9rem;
    margin: 0;
}