<footer class="footer-custom">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <img src="{{ asset('images/giftbot-logo-white.png') }}" alt="GiftBot 3000" class="mb-3" height="50">
                    <h5>GiftBot 3000</h5>
                </div>
                <div class="col-lg-3">
                    <h6 class="fw-bold mb-3">Find us</h6>
                    <div class="social-links">
                        <a href="#" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h6 class="fw-bold mb-3">Important links</h6>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white-50">Contact</a></li>
                        <li><a href="#" class="text-white-50">Legal Notices</a></li>
                        <li><a href="#" class="text-white-50">Support</a></li>
                    </ul>
                </div>
            </div>
            <hr class="my-4">
            <div class="text-center">
                <p class="mb-0 text-white-50">&copy; 2024 GiftBot 3000. All rights reserved.</p>
            </div>
        </div>
    </footer>