<footer class="footer-custom py-5 bg-dark text-white">
    <div class="container">
        <div class="row justify-content-between text-center text-lg-start gy-4">
            <!-- Logo + Title -->
            <div class="col-12 col-lg-3">
                <img src="{{ asset('image/Black And White Aesthetic Minimalist Modern Simple Typography Coconut Cosmetics Logo.jpg') }}" alt="GiftBot 3000" class="mb-3" height="50">
                <h5>GiftBot 3000</h5>
            </div>

            <!-- Social Links -->
            <div class="col-12 col-lg-3">
                <h6 class="fw-bold mb-3">Suiviez Nous</h6>
                <div class="d-flex justify-content-center justify-content-lg-start gap-3 fs-5">
                    <a href="https://x.com/?lang=en" aria-label="Twitter" class="text-white"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/" class="text-white"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.youtube.com/" class="text-white"><i class="fab fa-youtube"></i></a>
                    <a href="https://www.linkedin.com/" class="text-white"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>

            <!-- Important Links -->
            <div class="col-12 col-lg-3">
                <h6 class="fw-bold mb-3">Liens Importants</h6>
                <ul class="list-unstyled">
                    <li><a href="{{ path('app_contact') }}" class="text-white-50 text-decoration-none d-block mb-1">Contact</a></li>
                    <li><a href="#" class="text-white-50 text-decoration-none d-block mb-1">Mentions légales</a></li>
                    <li><a href="{{ path('app_contact') }}" class="text-white-50 text-decoration-none d-block">Support</a></li>
                </ul>
            </div>
        </div>

        <hr class="my-4 border-secondary">

        <div class="text-center">
            <p class="mb-0 text-white-50">&copy; &#xA9 2025, GiftBot 3000. Tous droits réservés..</p>
        </div>
    </div>
</footer>
